In [27]:
import pandas as pd
import os
import numpy as np

In [5]:
# obtain sum, mean, max and min for every csv block

In [45]:
folder = os.path.join('halfhourly_dataset')
df = pd.read_csv(os.path.join(folder, 'block_0.csv'))
df['tstp'] = pd.to_datetime(df['tstp'])
df = df.replace('Null', np.nan)
df['energy(kWh/hh)'] = pd.to_numeric(df['energy(kWh/hh)'])
df['energy(kWh/hh)'] = (df['energy(kWh/hh)'].fillna(method='ffill') + df['energy(kWh/hh)'].fillna(method='bfill'))/2
df.head()

       LCLid                tstp  energy(kWh/hh)
0  MAC000002 2012-10-12 00:30:00             0.0
1  MAC000002 2012-10-12 01:00:00             0.0
2  MAC000002 2012-10-12 01:30:00             0.0
3  MAC000002 2012-10-12 02:00:00             0.0
4  MAC000002 2012-10-12 02:30:00             0.0

In [46]:
df.iloc[3238]

LCLid                       MAC000002
tstp              2012-12-19 12:37:27
energy(kWh/hh)                   0.19
Name: 3238, dtype: object

In [50]:
df_summ = df.groupby('tstp')['energy(kWh/hh)'].agg(['mean', 'min', 'max', 'sum'])

                         mean    min    max     sum
tstp
2014-02-27 22:00:00  0.678429  0.045  3.060  28.494
2014-02-27 22:30:00  0.652071  0.044  2.643  27.387
2014-02-27 23:00:00  0.545190  0.064  2.482  22.898
2014-02-27 23:30:00  0.442571  0.021  2.110  18.588
2014-02-28 00:00:00  0.328810  0.039  2.149  13.810

In [57]:
int('block_0.csv'.split('.')[0].split('_')[1])

0

In [65]:
df_sum = pd.DataFrame([])
df_max = pd.DataFrame([])
df_mean = pd.DataFrame([])
df_min = pd.DataFrame([])
for block_file in os.listdir(folder):
    print(block_file)
    dfb = pd.read_csv(os.path.join(folder, block_file))
    dfb["tstp"] = pd.to_datetime(dfb["tstp"])
    dfb['energy(kWh/hh)'] = dfb['energy(kWh/hh)'].replace('Null', np.nan)
    dfb['energy(kWh/hh)'] = pd.to_numeric(dfb['energy(kWh/hh)'])
    dfb['energy(kWh/hh)'] = (dfb['energy(kWh/hh)'].fillna(method='ffill') + dfb['energy(kWh/hh)'].fillna(method='bfill'))/2
    
    col_block = block_file.split('.')[0]
    df_sum[col_block] = dfb.groupby("tstp")['energy(kWh/hh)'].agg('sum')
    df_max[col_block] = dfb.groupby("tstp")['energy(kWh/hh)'].agg('max')
    df_mean[col_block] = dfb.groupby("tstp")['energy(kWh/hh)'].agg('mean')
    df_min[col_block] = dfb.groupby("tstp")['energy(kWh/hh)'].agg('min')

block_0.csv
block_1.csv
block_10.csv
block_100.csv
block_101.csv
block_102.csv
block_103.csv
block_104.csv
block_105.csv
block_106.csv
block_107.csv
block_108.csv

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

block_109.csv
block_11.csv
block_110.csv
block_111.csv
block_12.csv
block_13.csv
block_14.csv
block_15.csv
block_16.csv
block_17.csv
block_18.csv
block_19.csv
block_2.csv
block_20.csv
block_21.csv
block_22.csv
block_23.csv
block_24.csv
block_25.csv
block_26.csv
block_27.csv
block_28.csv
block_29.csv
block_3.csv
block_30.csv
block_31.csv
block_32.csv
block_33.csv
block_34.csv
block_35.csv
block_36.csv
block_37.csv
block_38.csv
block_39.csv
block_4.csv
block_40.csv
block_41.csv
block_42.csv
block_43.csv
block_44.csv
block_45.csv
block_46.csv
block_47.csv
block_48.csv
block_49.csv
block_5.csv
block_50.csv
block_51.csv
block_52.csv
block_53.csv
block_54.csv
block_55.csv
block_56.csv
block_57.csv
block_58.csv
block_59.csv
block_6.csv
block_60.csv
block_61.csv
block_62.csv
block_63.csv
block_64.csv
block_65.csv
block_66.csv
block_67.csv
block_68.csv
block_69.csv
block_7.csv
block_70.csv
block_71.csv
block_72.csv
block_73.csv
block_74.csv
block_75.csv
block_76.csv
block_77.csv
block_78.csv
block_79.csv
block_8.csv
block_80.csv
block_81.csv
block_82.csv
block_83.csv
block_84.csv
block_85.csv
block_86.csv
block_87.csv
block_88.csv
block_89.csv
block_9.csv
block_90.csv
block_91.csv
block_92.csv
block_93.csv
block_94.csv
block_95.csv
block_96.csv
block_97.csv
block_98.csv
block_99.csv

In [66]:
df_sum.to_csv(os.path.join(folder, 'sum_resume.csv'))
df_max.to_csv(os.path.join(folder, 'max_resume.csv'))
df_min.to_csv(os.path.join(folder, 'min_resume.csv'))
df_mean.to_csv(os.path.join(folder, 'mean_resume.csv'))